@media (min-width: $tablet-width) {
  .add-goods__title {
    margin-bottom: 57px;
  }

  .add-goods__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .add-goods__item {
    width: 286px;

    &:nth-child(2) {
      margin-top: 0;
    }

    &:nth-child(n + 3) {
      margin-top: 35px;
    }
  }
}

@media (min-width: $desktop-width) {
  .add-goods__item {
    width: 245px;

    &:nth-child(n + 3) {
      margin-top: 0;
    }
  }
}
