.additional {
  @include page-paddings-mobile;
}

.additional__item {
  padding-top: 14px;
  padding-bottom: 17px;
}

.additional__order-button {
  margin-top: 16px;
}

.additional__title {
  margin-bottom: 15px;
}
