.advantages {
  margin-top: 20px;
  padding-left: $padding-interval;
  padding-right: $padding-interval;
}

.advantages__item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.advantages__description {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 20px;
}
