.catalog-main__title {
  margin-top: 31px;
  margin-bottom: 35px;
}

.catalog-main__promo {
  margin-top: 39px;
  margin-bottom: 35px;
}

.catalog-main__products,
.catalog-main__additional {
  @include full-width-mobile;
}
