.catalog-main__title {
  margin-top: 19px;
  margin-bottom: 32px;
}

.catalog-main__promo {
  margin-top: 39px;
  margin-bottom: 35px;
}

.catalog-main__products,
.catalog-main__additional {
  @include full-width-mobile;
}

@media (min-width: $tablet-width) {
  .catalog-main__title {
    margin-top: 47px;
  }

  .catalog-main__products {
    margin: 0;
  }

  .catalog-main__promo {
    margin-top: 69px;
    margin-bottom: 76px;
  }

  .catalog-main__additional {
    margin-top: 11px;
  }
}

@media (min-width: $desktop-width) {
  .catalog-main__title {
    margin-top: 64px;
  }

  .catalog-main__promo {
    flex-basis: 245px;
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 30px;
  }

  .catalog-main__additional {
    margin-top: 20px;
  }
}
