.container-center {
  width: $mobile-width - 2 * $padding-interval-mobile;
  margin: 0 auto;
  padding: 0 $padding-interval-mobile;
}

@media (min-width: $tablet-width) {
  .container-center {
    width: $tablet-width - 2 * $padding-interval-tablet;
    margin: 0 auto;
    padding: 0 $padding-interval-tablet;
  }

  .container-center--program {
    width: $tablet-width - 2 * 70px;
    margin: 0 auto;
    padding-left: 70px;
    padding-right: 67px;
  }
}

@media (min-width: $desktop-width) {
  .container-center {
    width: $desktop-width - 80px;
    margin: 0 auto;
    padding: 0 40px;
  }
}
