.copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.copyright__text {
  color: #444444;
  font-family: $font-text;
  font-size: 16px;
  text-decoration: none;

  &:active {
    opacity: 0.3;
  }
}

.copyright__logo {
  margin-left: 23px;

  fill: #666666;

  &:hover {
    fill: $color-green;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: $desktop-width) {
  .copyright__text {
    margin-top: -8px;
  }
}
