@import "../vars.scss";

.example {
  background-color: $color-grey;
  padding-left: $padding-interval;
  padding-right: $padding-interval;
  padding-top: 25px;
}

.example__description {
  margin-top: 30px;
}

.example__cost {
  text-transform: uppercase;
  text-align: center;
}

.example__image {
  margin-top: 44px;
}
