.footer__map,
.footer__contacts {
  @include full-width-mobile;
}

.footer__logo {
  padding-top: 39px;
  padding-bottom: 31px;
  text-align: center;
}

.footer__logo,
.footer__social {
  @include grey-border-bottom;
}

.footer__copyright {
  padding-top: 22px;
  padding-bottom: 22px;
}

.footer__map-iframe {
  height: 365px;
}

.footer__wrapper {
  background-color: $color-grey;

  @include full-width-mobile;
  @include page-paddings-mobile;
}

@media (min-width: $tablet-width) {
  .footer__wrapper {
    display: flex;
    justify-content: space-between;

    @include page-paddings-tablet;
    @include full-width-tablet;
  }

  .footer__map,
  .footer__contacts {
    @include full-width-tablet;
  }

  .footer__logo,
  .footer__social {
    border-bottom: none;
  }

  .footer__map-iframe {
    height: 400px;
  }
}

@media (min-width: $desktop-width) {
  .footer__wrapper {
    @include page-paddings-desktop;
    @include full-width-desktop;
  }

  .footer__map,
  .footer__contacts {
    @include full-width-desktop;
  }
}
