.form-field {
  display: flex;
  justify-content: space-between;
  align-items: baseline;

  &:not(:first-of-type) {
    margin-top: 13px;
  }
}

.form-field--error {
  .form-field__input {
    border: 2px solid #ff8282;
  }

  .form-field__icon {
    fill: #ff8282;
  }
}

.form-field__label {
  margin-right: 14px;

  color: #222222;
  font-size: 16px;
  text-transform: uppercase;

  &--required {
    margin-right: 15px;
  }
}

.form-field__label--required::after {
  content: "*";
}

.form-field__input {
  flex-grow: 1;
  padding: 9px 0 11px 15px;

  font-family: $font-main;
  font-size: 16px;
  text-transform: uppercase;

  border: 1px solid rgba(205, 205, 205, 0.5);

  &:hover {
    border-color: #cdcdcd;
  }

  &:focus {
    outline: none;
    border: 2px solid #444444;
  }
}

.form-field__icon-wrapper {
  flex-grow: 1;
  position: relative;
  display: flex;
  margin-left: -5px;

  .form-field__input {
    padding-right: 40px;
  }

  &:hover {
    .form-field__icon {
      fill: $color-green;
    }
  }
}

.form-field__icon {
  position: absolute;
  font-style: normal;
  right: 15px;
  top: 15px;

  fill: #222222;
}

@media (min-width: $tablet-width) {
  .form-field {
    &:not(:first-of-type) {
      margin-top: 20px;
    }
  }

  .form-field__label {
    margin-right: 16px;

    font-size: 20px;
    font-weight: 400;
    line-height: 20px;

    &--required {
      margin-right: 18px;
    }
  }

  .form-field__input {
    padding-left: 19px;

    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
  }

  .form-field__icon {
    top: 19px;
  }
}

@media (min-width: $desktop-width) {
  .form-field__icon {
    top: 19px;
    right: 20px;
  }
}
