.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 11px;
  padding-bottom: 12px;
}

.header__title {
  padding-top: 6px;
  padding-right: 9px;
}

@media (min-width: $tablet-width) {
  .header {
    margin-top: 24px;
  }

  .header__wrapper {
    flex-grow: 1;
    padding: 0;
    justify-content: flex-start;
  }

  .header__logo {
    height: 58px;
    width: 86px;
  }

  .header__button {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .header {
    margin-top: 0;
    padding-top: 54px;

    background: url("/img/index-background-mobile@1x.jpg") no-repeat;
    background-size: 680px 696px;
    background-position: right;

    @include page-paddings-desktop;
    @include full-width-desktop;
  }
}
