.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (min-width: $tablet-width) {
  .header {
    margin-top: 24px;
  }

  .header__wrapper {
    flex-grow: 1;
  }

  .header__title,
  .header__button {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .header {
    margin-top: 0;
    padding-top: 54px;

    background: url("/img/index-background-mobile@1x.jpg") no-repeat;
    background-size: auto 100%;
    background-position: right;

    @include page-paddings-desktop;
    @include full-width-desktop;
  }
}
