.index-main__catalogs {
  margin-top: 22px;
}

.index-main__advantages {
  padding-top: 20px;
}

.index-main__example {
  padding-left: $padding-interval-mobile;
  padding-right: $padding-interval-mobile;
  padding-top: 25px;

  background-color: $color-grey;

  @include full-width-mobile;
}
