@import "../vars.scss";
@import "../mixins.scss";

.index-footer__social,
.index-footer__copyright {
  background-color: $color-grey;

  @include page-paddings;
}

.index-footer__contacts {
  @include page-paddings;
}

.index-footer__copyright {
  padding-top: 22px;
  padding-bottom: 22px;
}
