.index-header {
  padding-top: 29px;

  text-align: center;

  background: url("/img/index-background-mobile@1x.jpg") no-repeat;
  background-size: 100% auto;

  @include full-width-mobile;
  @include page-paddings-mobile;
}

.index-header__title {
  color: #ffffff;
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;

  @include remove-margins;
}

.index-header__slogan {
  margin-top: 19px;

  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  text-transform: uppercase;
}

.index-header__logo {
  margin-top: 29px;
}

.index-header__to-choose {
  display: block;

  font-size: 14px;
}

@media (min-width: $tablet-width) {
  .index-header {
    display: flex;
    flex-direction: column;
    padding-left: 90px;

    text-align: left;

    background: none;
  }

  .index-header__wrapper {
    display: flex;
    flex-direction: column;
    padding-left: 90px;
    padding-top: 62px;
    height: auto;

    text-align: left;

    background: none;

    @include remove-margins;
  }

  .index-header__title {
    padding-right: 200px;

    color: inherit;
    font-size: 60px;
    line-height: 60px;
  }

  .index-header__slogan {
    margin-top: 33px;

    color: inherit;
    font-size: 20px;
    line-height: 20px;
  }

  .index-header__logo {
    order: 2;
    margin-top: -75px;
    margin-left: -90px;
    width: 709px;
    height: 609px;
  }

  .index-header__to-choose {
    z-index: 100;

    order: 1;
    width: 245px;
    margin-top: 44px;

    font-size: 20px;
    line-height: 20px;
  }
}

@media (min-width: $desktop-width) {
  .index-header {
    position: relative;

    padding-left: 83px;
    width: 420px;
    height: 550px;
  }

  .index-header__title {
    padding-right: 0;
  }

  .index-header__logo {
    position: absolute;

    left: 100%;
    margin: 0;
    width: 552px;
    height: 499px;
  }
}
