.index-main__catalogs {
  margin-top: 22px;
}

.index-main__advantages {
  padding-top: 20px;
}

.index-main__example {
  padding-left: $padding-interval-mobile;
  padding-right: $padding-interval-mobile;
  padding-top: 25px;

  background-color: $color-grey;

  @include full-width-mobile;
}

@media (min-width: $tablet-width) {
  .index-main__example {
    @include page-paddings-tablet;
    @include full-width-tablet;
  }
}

@media (min-width: $desktop-width) {
  .index-main__example {
    @include page-paddings-desktop;
    @include full-width-desktop;
  }
}
