.main-nav {
  &__item {
    padding: 24px 0;
    border-top: 1px solid #e6e6e6;
    text-align: center;
    color: #111111;
    font-size: 20px;
    font-weight: 500;
    line-height: 20px;
    text-transform: uppercase;

    &:last-child {
      border-bottom: 1px solid #e6e6e6;
    }
  }
}

.main-nav__link {
  color: #111111;
  text-decoration: none;
}
