.menu-toggle__button {
  padding: 0;

  border: 0;
  background-color: #ffffff;

  cursor: pointer;
}

.menu-toggle__placeholder {
  width: 24px;
  display: none;
}

.menu-toggle--close {
  .menu-toggle__placeholder {
    display: block;
  }

  .menu-toggle__button {
    display: none;
  }
}
