.product {
  @include page-paddings-mobile;
  padding-bottom: 24px;
}

.product__info {
  display: flex;
}

.product__details {
  padding-top: 20px;
  width: 100%;
}

@media (min-width: $tablet-width) {
  .product {
    padding-top: 82px;
    padding-bottom: 40px;
    padding-left: 37px;
    padding-right: 37px;
  }

  .product__info {
    flex-direction: column;
    align-items: center;
  }

  .product__image {
    width: 195px;
    height: 208px;
  }

  .product__details {
    padding-top: 39px;
  }
}
