.products__item {
  border-bottom: 1px solid #ededed;

  &:first-child {
    border-top: 1px solid #ededed;
  }
}

.products__more {
  padding-top: 27px;
  padding-bottom: 25px;
  border-bottom: 1px solid #ededed;

  @include page-paddings-mobile;
}

@media (min-width: $tablet-width) {
  .products__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .products__item {
    width: 324px;

    border-bottom: none;

    &:first-child {
      border-top: none;
    }
  }

  .products__more {
    border-bottom: none;
  }
}

@media (min-width: $desktop-width) {
  .products__item {
    width: 245px;
  }
}
